[Unity Project] Strafe/Library/
[Unity Project] Strage/library/

[Unity Project] Strafe/Obj/
[Unity Project] Strafe/obj/

[Unity Project] Strafe/Temp/
[Unity Project] Strafe/temp/ 

*.meta

*.blend1

*.unitypackage
